<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <Pattern>%date{"yyyy-MM-dd'T'HH:mm:ss,SSS"} [%thread] %-5level %logger{36} - %msg %n
      </Pattern>
    </encoder>
  </appender>

  <logger name="dk.cpr.dar" level="DEBUG"/>

  <root>
    <level value="WARN"/>
    <appender-ref ref="consoleAppender"/>
  </root>
</configuration>
